@import "tailwindcss";
@theme {
  --color-background: #f8f9fc;
  --color-foreBackground: #eeeeee;
  --color-secBackground: #ead196;
  --color-primary: #007074;
  --color-secondary: #028299;
  --color-customWhite: #fcfcfc;
  --color-buttonCancel: #bf3131;
  --color-buttonSubmit: #fdfaf6;
  --color-fontBold: #424554;
  --color-fontMedium: #2b2d33;
}
